NEXT_PUBLIC_APP_NAME=MyTube
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
YOUTUBE_API_KEY=
ALLOW_GOOGLE_OAUTH=false
NEXT_PUBLIC_DISABLE_AUTOPLAY=true
NEXT_PUBLIC_MIN_DURATION_SECONDS=60
PRIVACY_POLICY_URL=
